.good{
    margin: 5px;
    background-color: green;
    border-radius: 5px
}

.neutral{
    margin: 5px;
    background-color: yellow;
    border-radius: 5px
}

.bad{
    margin: 5px;
    background-color: red;
    border-radius: 5px
}